<!DOCTYPE html>
<html>
<head>
  <title>OmniauthEng</title>
  <%= stylesheet_link_tag    "omniauth_eng/application", :media => "all" %>
  <%= javascript_include_tag "omniauth_eng/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
